[Unit]
Description=Fallback backup timer every 10 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
Unit=pi-home-backup.service
Persistent=true

[Install]
WantedBy=timers.target
