[Unit]
Description=Fallback backup timer every 1 hour

[Timer]
OnBootSec=2min
OnUnitActiveSec=1h
Unit=pi-home-backup.service
Persistent=true

[Install]
WantedBy=timers.target
