# Application Folders (Ignore everything Git found)
Klipper-Adaptive-Meshing-Purging/
KlipperScreen/
ResHelper/
crowsnest/
fluidd/
katapult/
kiauh/
klipper-backup/
mainsail-config/
mobileraker_companion/
moonraker-timelapse/
octoeverywhere/
klipper/
moonraker/

# Hidden Files
.version
.wget-hsts

# Data and Logs
printer_data/logs/
printer_data/database/
*.log
printer_data/gcodes/
printer_data/gcodes/
mainsail/
Backup-Pie/
.cache/
crowsnest/bin/ustreamer/
config_backup/
voronv0-backup-repo/
timelapse/
timelapse/
*.gcode
.config/backup-pie/
AFC-Klipper-Add-On/
.cache/uv/sdists-v9/pypi/uvloop/0.22.1/o0ThlHER_ivSU1x8/src/vendor/libuv/
.cache/uv/sdists-v9/pypi/uvloop/0.22.1/o0ThlHER_ivSU1x8/src/build/libuv-aarch64/
.cache/uv/sdists-v9/
AFC-Klipper-Screen-Add-On/
