# Application Folders (Ignore everything Git found)
Klipper-Adaptive-Meshing-Purging/
KlipperScreen/
ResHelper/
crowsnest/
fluidd/
katapult/
kiauh/
klipper-backup/
mainsail-config/
mobileraker_companion/
moonraker-timelapse/
octoeverywhere/
klipper/
moonraker/

# Hidden Files
.version
.wget-hsts

# Data and Logs
printer_data/logs/
printer_data/database/
*.log
