#####################################################################
#   Bed Heater
#####################################################################
[duplicate_pin_override]
pins: PA1

[heater_bed]
heater_pin: PG11
sensor_pin: PA1
pullup_resistor: 2200
sensor_type:Generic 3950
smooth_time: 3.0
max_power: 1                                                     # Only needed for 100w pads
min_temp: 0
max_temp: 120
control: pid                                                        # Do PID calibration after initial checks
pid_Kp=68.737 
pid_Ki=1.172 
pid_Kd=1007.853
