
#####################################################################
#   Filament Runout Sensor
#####################################################################

[filament_switch_sensor Filament_Runout_Sensor]
pause_on_runout: True
runout_gcode: M117 Filament runout!
event_delay: 3.0
pause_delay: 0.5
switch_pin: orbitoolO2S:PA8
