[board_pins erb_htlf]
mcu: ERB
aliases:
    M2_STEP=gpio16   , M2_DIR=gpio15   , M2_EN=gpio14    , M2_UART=gpio17   , # M2_DIAG=PA3   ,
    M1_STEP=gpio10    , M1_DIR=gpio9   , M1_EN=gpio8    , M1_UART=gpio11    , # M1_DIAG=PA4   ,

	HUB=gpio25 		, 
  	HOME_POS=gpio24   , TNF=gpio23  ,  TNR=gpio22  ,  
	LOAD1=gpio2  	   , LOAD2=gpio5 	   , LOAD3=gpio26	  , LOAD4=gpio29 	   ,
	SPARE1=PC13	   , SPARE2=PC14   , SPARE3=PB12  , SPARE4=PA0     ,
	SPARE5=PA1     , SPARE6=PB3    , SPARE7=PB4   , SPARE8=PB11    ,
	SPARE9=PB10    , SPARE10=PB2   ,
	
	RGB1=gpio21	   , 

    # 12 18 2 3 4 5 6 7 26 27 28 29


# lane 1 gp29
# lane 2 gp26
# lane 3 gp5
# lane 4 gp2
# home_pos gp12